/web/bundles/
/web/app_dev.php
/web/app_dev.php.dist
/web/app_test.php
/app/bootstrap.php.cache
/web/css/*
/web/js/*
/config/*.crt
/config/*.key
/config/keys
/app/cache/*
/config/legacy/parameters.yml
/config/legacy/samlstepupproviders_parameters.yml
/config/legacy/global_view_parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/cache.properties
/app/SymfonyRequirements.php
/app/check.php
