/web/bundles/
/web/app_dev.php
/web/app_dev.php.dist
/web/app_test.php
/app/bootstrap.php.cache
/web/css/*
/web/js/*
/config/*.crt
/config/*.key
/config/keys
/app/cache/*
/config/legacy/parameters.yaml
/config/legacy/samlstepupproviders_parameters.yaml
/config/legacy/global_view_parameters.yaml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/composer.phar
/cache.properties
/app/SymfonyRequirements.php
/app/check.php
/local-php-security-checker
.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/ci/qa/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/ci/qa/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/ci/qa/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
