@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/bootstrap-fontawesome.less";

// overriding the font path for correct loading.
@FontAwesomePath: "/fonts";
@fa-font-path: "/fonts";

// This override of the mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/font-awesome/path.less
// prevents loading of the none existing woff2 file that resulted in four oh fours.
@font-face {
    font-family: 'FontAwesome';
    src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
    src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
    //  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
}

.progress-steps {
    font-size: 110%;
}

div.page-header {
    img.logo {
        max-width: 180px;
        max-height: 90px;
    }
}

table.orderable th {
    color: @brand-primary;
}

.ra-start-vetting-procedure-container {
    margin: 3em auto;
    max-width: 500px;

    form[name="ra_start_vetting_procedure"] {

        margin-bottom: 1em;

        input[name="ra_start_vetting_procedure[registrationCode]"] {
            min-width: 220px;
            text-transform: uppercase;
        }

        ::-webkit-input-placeholder { text-transform: none; }
        :-moz-placeholder { text-transform: none; }
        ::-moz-placeholder { text-transform: none; }
        :-ms-input-placeholder { text-transform: none; }
    }

    p {
        color: #999999;
    }
}

form[name="ra_verify_yubikey_public_id"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    > .form-group > .col-sm-9 {
        float: none;
        margin: 0 auto;
    }
}

div.form-ra-verify-identity {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 650px;

    .left-aligned {
        padding-left: 24px;
        text-align: left;
    }

    table tbody tr th.half-width, table tbody tr td.half-width {
      width: 50%;
    }

    .form-group-verify-identity {
        margin-top: 2em;
        text-align: center;

        label {

            font-weight: bold;
        }
    }
}

div.form-ra-create-ra, div.form-ra-amend-ra-info, div.form-ra-change-role {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 650px;

    .control-text {
        padding-top: 7px;
    }
}

div.emulate-form-layout {
    .control-text {
        padding-top: 7px;
    }
}

.question {
    padding: 15px;
}

div.form-ra-send-sms-challenge {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    form {
        text-align: center;
    }
}

div.form-retract-registration-authority {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 650px;

    button {
        margin-left: 1em;
    }
}

form[name="ra_verify_phone_number"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    input[type="text"] {
        font-family: "Monaco", "Inconsolata", "Consolas", monospace;
        text-transform: uppercase;
    }
}
.search-second-factors {
    form[name="ra_search_ra_second_factors"] {
        input#ra_search_ra_second_factors_name {
            max-width: 300px;
        }
        input#ra_search_ra_second_factors_secondFactorId {
            max-width: 200px;
        }
        input#ra_search_ra_second_factors_email {
            max-width: 350px;
        }
        select {
            max-width: 175px;
        }
        button#ra_search_ra_second_factors_export {
            margin-left: 0.5em;
        }
        div.button-group {
            margin-left: 25%;
            div.form-group {
                margin-right: 14px;
                float: left;
                button:first-child {
                    margin-left: 8px;
                }
            }
        }
    }
    td.button-column {
        .audit-log, .revoke {
            margin: 0px 3px 3px 3px;
        }
    }
}

form[name="ra_search_ra_candidates"] {
    input#ra_search_ra_candidates_name {
        max-width: 300px;
    }
    input#ra_search_ra_candidates_email {
        max-width: 300px;
    }
    input#ra_search_ra_candidates_institution {
        max-width: 300px;
    }
}

form[name="logout"] button {
    line-height: 26px;
}

form[name="stepup_switch_locale"] {
        .pull-right();
}
select[name="stepup_switch_locale[locale]"] {
    min-width: 150px;
}

.hidden {
    display: none;
}

.container-cancel-vetting {
    text-align: center;
}

.generate-progress(100);

.generate-progress(@n, @i: 0) when (@i =< @n) {
    .progress-@{i} {
        width: (@i * 1%);
    }
    .generate-progress(@n, (@i + 5));
}

.cancel {
    color: @brand-danger;
}

.result-count {
    margin-top: 1em;
}