@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/bootstrap-fontawesome4.less";

// overriding the font path for correct loading.
@FontAwesomePath: "/fonts";
@fa-font-path: "/fonts";

.progress-steps {
    font-size: 110%;
}

form[name="ra_start_vetting_procedure"] {
    max-width: 500px;
    margin: 3em auto;

    input[name="ra_start_vetting_procedure[registrationCode]"] {
        min-width: 220px;
        text-transform: uppercase;
    }

    ::-webkit-input-placeholder { text-transform: none; }
    :-moz-placeholder { text-transform: none; }
    ::-moz-placeholder { text-transform: none; }
    :-ms-input-placeholder { text-transform: none; }
}

form[name="ra_verify_yubikey_public_id"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    > .form-group > .col-sm-9 {
        float: none;
        margin: 0 auto;
    }
}

div.form-ra-verify-identity {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 650px;

    .left-aligned {
        padding-left: 24px;
        text-align: left;
    }

    table tbody tr th.half-width, table tbody tr td.half-width {
      width: 50%;
    }

    .form-group-verify-identity {
        margin-top: 2em;
        text-align: center;

        label {

            font-weight: bold;
        }
    }
}

div.form-ra-create-ra, div.form-ra-amend-ra-info {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 650px;

    .control-text {
        padding-top: 7px;
    }
}

div.emulate-form-layout {
    .control-text {
        padding-top: 7px;
    }
}

div#create_ra_confirmation_modal {
    .question {
        padding: 15px;
    }
}

div.form-ra-send-sms-challenge {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    form {
        text-align: center;
    }
}

form[name="ra_verify_phone_number"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    input[type="text"] {
        font-family: "Monaco", "Inconsolata", "Consolas", monospace;
        text-transform: uppercase;
    }
}

form[name="ra_search_ra_second_factors"] {
    input#ra_search_ra_second_factors_name {
        max-width: 300px;
    }
    input#ra_search_ra_second_factors_secondFactorId {
        max-width: 200px;
    }
    input#ra_search_ra_second_factors_email {
        max-width: 350px;
    }
    select {
        max-width: 175px;
    }
}

form[name="ra_search_ra_candidates"] {
    input#ra_search_ra_candidates_name {
        max-width: 300px;
    }
    input#ra_search_ra_candidates_email {
        max-width: 300px;
    }
}

form[name="logout"] button {
    line-height: 26px;
}

form[name="stepup_switch_locale"] {
        .pull-right();
}
select[name="stepup_switch_locale[locale]"] {
    min-width: 150px;
}

.hidden {
    display: none;
}

.container-cancel-vetting {
    text-align: center;
}

.generate-progress(100);

.generate-progress(@n, @i: 0) when (@i =< @n) {
    .progress-@{i} {
        width: (@i * 1%);
    }
    .generate-progress(@n, (@i + 5));
}

.cancel {
    color: @brand-danger;
}
