{% extends 'base.html.twig' %}

{% block page_title %}{{ 'ra.vetting.second_factor_type_disabled.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ block('page_title') }}</h2>

            <p>{{ 'ra.vetting.second_factor_type_disabled.text.explanation'|trans({'%token_name%': secondFactorType|trans_second_factor_type}) }}</p>
        </div>
    </div>
{% endblock %}
