parameters:
    trusted_proxies:   ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    default_locale:    en_GB
    locales:           [nl_NL, en_GB]
    locale_cookie_domain:   example.org
    secret:            NotSoSecretReplaceMe!

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    gateway_api_url: https://gateway.tld/
    gateway_api_username: ra
    gateway_api_password: ra

    middleware_credentials_username: ra
    middleware_credentials_password: ra
    middleware_url_command_api: https://middleware.tld/command
    middleware_url_api: https://middleware.tld/

    sms_originator: SURFStepup
    sms_otp_expiry_interval: 900 # 15 minutes
    sms_maximum_otp_requests: 10

    saml_sp_publickey:
    saml_sp_privatekey:
    saml_metadata_publickey:
    saml_metadata_privatekey:
    saml_remote_idp_entity_id:
    saml_remote_idp_sso_url:
    saml_remote_idp_certificate: 'FOR CI ONLY, REPLACE WITH ACTUAL VALUE'
    loa_required_for_login: 'https://gateway.tld/authentication/loa3'
    enabled_second_factors:
        - sms
        - yubikey
    enabled_generic_second_factors:
            biometric:
                loa: 3
            tiqr:
                loa: 3
    asset_version: 1

    stepup_loa_loa1: https://gateway.tld/authentication/loa1
    stepup_loa_loa2: https://gateway.tld/authentication/loa2
    stepup_loa_loa3: https://gateway.tld/authentication/loa3

    logout_redirect_url:
            nl_NL: https://www.surf.nl/over-surf/werkmaatschappijen/surfnet
            en_GB: https://www.surf.nl/en/about-surf/subsidiaries/surfnet

    session_max_absolute_lifetime: 28800 # 8 hours * 60 minutes * 60 seconds
    session_max_relative_lifetime: 1800  # 30 minutes * 60 seconds
    self_service_url: 'https://selfservice.tld/'
