{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ra.security.session_expired.page_title'|trans }}{% endblock %}

{% block content %}
    <h2></h2>
    <p>
        {{ 'ra.security.session_expired.explanation'|trans }}
    </p>
    <p>
        <a class="btn btn-primary" href="{{ redirect_to_url }}">{{ 'ra.security.session_expired.click_to_login'|trans }}</a>
    </p>
{% endblock %}
