includes:
    - ./phpstan-baseline.php
    - ../../vendor/phpstan/phpstan-symfony/extension.neon
rules:

parameters:
    checkUninitializedProperties: true
    level: 9
    paths:
        - ../../src
    excludePaths:
        - ../../src/Surfnet/StepupRa/RaBundle/Tests
        - ../../src/Surfnet/StepupRa/SamlStepupProviderBundle/Tests
